.language-selector {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.language-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.lang-button {
  width: 40px !important;
  height: 20px !important;
  justify-content: center;
  display: flex;
  align-items: center;

}

 .lang-button p {
    font-size: 0.6rem;
    margin: 0;
    text-align: center;

  }

.lang-button:hover,
.lang-button.active {
  color: var(--dark-blue);
  scale: 1.05;
}
