
.mystats-container {
  margin: 1rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: var(--padding-wrapper);
  animation: fadeIn 0.8s ease-in-out;
}

/* Section spacing */
.section {
  margin: auto 0;
  border: 2px solid var(--neon-blue);
  padding: 1rem;
  border-radius: var(--border-radius);
  background: rgba(10, 15, 47, 0.8);
  transition: transform 0.3s ease;
}

.section:hover {
  transform: scale(1.04);
}

.profile-header {
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
}

.profile-picture {
  width: 200px;
  height: auto;
  border-radius: var(--border-radius);
  border: 3px solid var(--neon-blue);
  object-fit: cover;
}

.username {
  font-size: 2.5rem;
}

.logout-button,
.edit-button {
  margin: 0 0.5rem;
  margin-top: 20px;
  width: 300px;
  border-radius: var(--border-radius);
  max-width: 100%;
}


.edit-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
}

.edit-form input {
  padding: 0.5rem;
  border: 1px solid #999;
  border-radius: var(--border-radius);
  font-size: 1rem;
}

.edit-actions {
  display: flex;
  gap: 1rem;
  margin-top: 0.5rem;
}

.edit-actions button {
  background-color: var(--yellow);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
}

.info-grid,
.statistics-grid,
.games-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1.5rem;
  margin-top: 2rem;
}
.button-group {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}
/* Animación para entrada suave */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive: Tablets */
@media (max-width: 768px) {
  .section-title {
    font-size: 1.5rem;
  }
  .mystats-container {
    padding: 1rem;
    gap: 1.5rem;
  }

  .profile-header {
    flex-direction: column;
    gap: 1rem;
  }

  .profile-picture {
    width: 180px;
    height: 180px;

  }

  .username {
    font-size: 2rem;
    text-align: center;
  }

  .logout-button,
  .edit-button {
    width: 100%;
    margin: 2rems 0;
  }

  .info-grid,
  .statistics-grid,
  .games-grid {
    grid-template-columns: 1fr;
    gap: 1rem;
    margin: auto ;
    justify-content: center;
    
  }

  .info-box,
  .stat-card {
    padding: 1rem;
  }
}

/* Responsive: Mobile */
@media (max-width: 480px) {
  .section-title {
    font-size: 1rem;
  }
  .profile-picture {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }

  .username {
    font-size: 1.6rem;
  }

  .box.blue h3,
  .stat-card h4 {
    font-size: 0.7rem;
  }

  .box.blue p,
  .stat-card p {
    font-size: 0.8rem;
  }

  .edit-form input {
    font-size: 0.95rem;
  }

  .edit-actions {
    flex-direction: column;
    gap: 0.5rem;
  }

  .edit-actions button {
    width: 100%;
  }
}